<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            List of patients
        </div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <label>key word</label>
                <input type="text" name="keyWord" th:value="${keyWord}"/>
                <button class="btn btn-primary">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DATE</th>
                    <th>is sick</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${patientList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.dayOfBirth}"></td>
                    <td th:text="${p.isSick}"></td>
                    <td th:text="${p.score}"></td>
                    <td><a onclick="return confirm('are you sure?')" class="btn btn-danger" th:href="@{delete(id=${p.id}, keyWord=${keyWord}, page=${currentPage})}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li th:each="page, status:${numberOfPages}">
            <a th:class="${status.index == currentPage ? 'btn btn-primary m-lg-1 ms-1' :  'btn btn-outline-primary m-lg-1 ms-1' }"
               th:text="${status.index}"
               th:href="@{index(page=${status.index}, keyWord=${keyword})}"
            ></a>
        </li>
    </ul>

</div>


</body>
</html>